/* Kilos.css */
.containerK {
    background-color: #1e1e1e;
    padding: 60px;
    width: 80%;
    margin: 40px auto;
    border-radius: 20px;
    color: white;
}

.title {
    font-weight: 900;
    background-color: #F5D817;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    margin: 0;
}

.opcK {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    margin-left: 100px;
    
}

.asados {
    display: flex;
    flex-direction: column;
}

.kilos {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}

.saborK {
    flex: 1;
    text-align: left;
}

.precioM,
.precioK {
    flex: 1;
    text-align: right;
}
