.main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back {
    position: absolute;
    left: 20px;
    cursor: pointer;
}

.LogoBox {
    text-align: center;
}

.Logo {
    max-width: 80%;
    height: auto;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: black;
}