.logoBox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.Logo {
    width: 200px;
    height: 200px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}